@keyframes slideInLeft {
  0% {
    width: 0;
  }
  100% {
    width: 17.5rem;
  }
}

#__next {
  display: flex;
  width: 100vw;
}

aside {
  height: 100vh;
  width: 17.5rem;
  padding: 1rem;
  background: white;
  flex-shrink: 0;
  animation: slideInLeft 0.2s;
}

header {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: white;
}

.mainContent {
  width: 100%;
  flex-grow: 1;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

@media only screen and (max-width: 48em) {
  aside {
    display: none;
  }
}
